<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="${ctxPath!}/static/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/css/font-awesome.min.css" />
		
		<link rel="stylesheet" href="${ctxPath!}/static/chosen/chosen.min.css" />
		
		<!-- ace styles -->
		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace.min.css" id="main-ace-style" />
		
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-skins.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/css/datepicker.css" /><!-- 日期框 -->
		<link rel="stylesheet" href="${ctxPath!}/static/jquery-tags-input/jquery.tagsinput.css" />
		<!--[if lte IE 9]>
		 	<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-ie.min.css" />
		<![endif]-->
		
		

		<!-- ace settings handler -->
		<script src="${ctxPath!}/static/ace/js/ace-extra.min.js"></script>






<!--[if !IE]> -->
		<script src="${ctxPath!}/static/jquery/jquery-2.1.1.min.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="${ctxPath!}/static/jquery/jquery-1.11.1.min.js"></script>
		<![endif]-->

		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='${ctxPath!}/static/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="${ctxPath!}/static/bootstrap/bootstrap.min.js"></script>

		<!-- ace scripts -->
		<script src="${ctxPath!}/static/ace/js/ace-elements.min.js"></script>
		<script src="${ctxPath!}/static/ace/js/ace.min.js"></script>
		<script src="${ctxPath!}/static/jquery-tags-input/jquery.tagsinput.min.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/js/bootstrap-datepicker.min.js"></script><!-- 日期框 -->