<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rt.shop.mapper.ConsultMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, addTime, deleteStatus, consult_content, consult_email, consult_reply, reply, reply_time, consult_user_id, goods_id, reply_user_id
	</sql>
<cache eviction="LRU" type="com.rt.shop.common.redis.LoggingRedisCache"/>
</mapper>